# table
snippet table
	| time  | task          | desc               |   |
	|-------|---------------|--------------------|---|
	| x19:38 | dinner        |                    |   |
	| x20:30 | drama         |                    |   |
	| x21:40 | dish          |                    |   |
	| x21:57 | time tracking | [[/time tracking]] |   |
	| x22:26 | go to bed     |                    |   |
	|       |               |                    |   |
	|       |               |                    |   |

