[submodule "vim/.vim/pack/eric/start/nerdtree"]
	path = vim/.vim/pack/eric/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "vim/.vim/pack/eric/start/vim-bbye"]
	path = vim/.vim/pack/eric/start/vim-bbye
	url = git@github.com:moll/vim-bbye.git
[submodule "vim/.vim/pack/eric/start/winresizer"]
	path = vim/.vim/pack/eric/start/winresizer
	url = git@github.com:simeji/winresizer.git
[submodule "vim/.vim/pack/eric/start/fzf"]
	path = vim/.vim/pack/eric/start/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/.vim/pack/eric/start/tla"]
	path = vim/.vim/pack/eric/start/tla
	url = git@github.com:hwayne/tla.vim.git
