[submodule "vim/.vim/pack/eric/start/nerdtree"]
	path = vim/.vim/pack/eric/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/eric/start/vim-bbye"]
	path = vim/.vim/pack/eric/start/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "vim/.vim/pack/eric/start/winresizer"]
	path = vim/.vim/pack/eric/start/winresizer
	url = https://github.com/simeji/winresizer.git
[submodule "vim/.vim/pack/eric/start/fzf"]
	path = vim/.vim/pack/eric/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/eric/start/tla"]
	path = vim/.vim/pack/eric/start/tla
	url = https://github.com/hwayne/tla.vim.git
[submodule "vim/.vim/pack/eric/start/tlib_vim"]
	path = vim/.vim/pack/eric/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/.vim/pack/eric/start/vim-addon-mw-utils"]
	path = vim/.vim/pack/eric/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/.vim/pack/eric/start/vim-snipmate"]
	path = vim/.vim/pack/eric/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/.vim/pack/eric/start/vim-snippets"]
	path = vim/.vim/pack/eric/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/.vim/pack/eric/start/tla.vim"]
	path = vim/.vim/pack/eric/start/tla.vim
	url = https://github.com/hwayne/tla.vim.git
[submodule "vim/.vim/pack/eric/start/lightline"]
	path = vim/.vim/pack/eric/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
